.accountContentContainer {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
}
.accountContentContainer .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 30px;
    box-sizing: border-box;
    margin: 5px 0px;
}

.accountContentContainer .header .name {
    font-size: 24px;
    font-weight: 600;
}

.accountContentContainer .header .buttonContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.accountContentContainer .header .buttonContainer .buttonImage {
    height: 35px;
}

.accountContentContainer .header .buttonContainer .buttonText {
    margin: 5px 0px;
}

.accountContentContainer .name,
.buttonContainer {
    margin: 0px 10px;
}

.accountContentContainer .header2 {
    display: flex;
    flex-direction: row;
    background-color: rgb(82, 162, 82);
    align-items: center;
    justify-content: space-evenly;
}

.accountContentContainer .header2 .menuButton {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
