<div class="form">
  <div>Введите данные:</div>
  <div class="field">
    <select class="select" [(ngModel)]="name">
      <option>Пицца</option>
      <option>Мидии</option>
      <option>Коктейли</option>
      <option>Рак</option>
      <option>Рыба</option>
    </select>
  </div>

  <div class="field">
    <label class="lable">Цена за единицу</label>
    <input class="input" [(ngModel)]="price" type="number" />
  </div>
  <div class="field">
    <label class="lable">Количество</label>
    <input class="input" [(ngModel)]="amount" type="number" />
  </div>
  <div class="buttons">
    <button (click)="createProduct()">Добавить продукт</button>
    <button (click)="resetInputs()">Сбросить</button>
  </div>
</div>
