.about {
    display: grid;
    grid-template-columns: 1fr 23fr 2fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.3fr 0.5fr;
    margin-left: 100px;
    margin-top: 30px;
}
.image25 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 6;
    height: 90%;
    width: 180px;
}
.l {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 30px;
    color: rgb(10, 10, 10);
    font-weight: bold;
    align-self: center;
    margin-left: 50px;
}
.l1 {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    align-self: center;
    margin-left: 50px;
}
.l2 {
    grid-column-start: 2;
    grid-row-start: 5;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 20px;
    color: rgb(15, 58, 47);
    align-self: center;
    margin-left: 50px;
    font-style: italic;
}
.aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.05fr 0.3fr repeat(4, 0.2fr) 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr repeat(
            4,
            0.02fr
        );
    background-color: rgba(112, 182, 143, 0.479);
    margin-left: 10px;
}
.image26 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 8;
    height: 550px;
    width: 100%;
}
.l3 {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 100%;
    height: 90%;
    font-family: Nunito;
    font-size: 27px;
    color: rgb(10, 10, 10);
    font-weight: bold;
    align-self: center;
    margin-left: 30px;
    margin-right: 10px;
}
.l4 {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
}
.l5 {
    grid-column-start: 2;
    grid-row-start: 3;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
}
.l6 {
    grid-column-start: 2;
    grid-row-start: 4;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
}
.l7 {
    grid-column-start: 2;
    grid-row-start: 5;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
}
.l8 {
    grid-column-start: 2;
    grid-row-start: 6;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
}
.image27 {
    grid-column-start: 2;
    grid-row-start: 9;
    grid-row-end: 17;
    height: 500px;
    width: 100%;
}
.l9 {
    grid-column-start: 1;
    grid-row-start: 9;
    width: 100%;
    height: 90%;
    font-family: Nunito;
    font-size: 27px;
    color: rgb(10, 10, 10);
    font-weight: bold;
    margin-left: 30px;
    margin-right: 10px;
}
.l10 {
    grid-column-start: 1;
    grid-row-start: 10;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
    font-weight: bold;
}
.l11 {
    grid-column-start: 1;
    grid-row-start: 11;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
}
.l12 {
    grid-column-start: 1;
    grid-row-start: 12;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
}
.l13 {
    grid-column-start: 1;
    grid-row-start: 13;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
    font-weight: bold;
}
.l14 {
    grid-column-start: 1;
    grid-row-start: 14;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
}
.l15 {
    grid-column-start: 1;
    grid-row-start: 15;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
}
.l16 {
    grid-column-start: 1;
    grid-row-start: 16;
    width: 90%;
    height: 90%;
    font-family: Nunito;
    font-size: 25px;
    color: rgb(10, 10, 10);
    margin-left: 30px;
}