<div class="container">
  <form-component
    class="form"
    (createProductEvent)="handleEvent($event)"
  ></form-component>
  <div class="container">
    <table class="table">
      <tr>
        <th>No</th>
        <th>Имя</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>общая стоимость</th>
      </tr>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ i }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.amount }}</td>
        <td>{{ product.price * product.amount }}</td>
      </tr>
    </table>
  </div>
</div>
